<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{site.title}}-{{site.name}}</title>
    {{include './common/meta.html'}}
    {{block 'head'}}
    {{/block}}
</head>

<body class="bg-f8f8f8">
    <!-- 头部 -->
    {{include './common/header.html'}}
    {{block 'content'}}{{/block}}
    <!-- footer -->
    {{include './common/footer.html'}}

    <!-- 移动端导航 -->
    {{include './common/wap-nav.html'}}


    <div class="api ignore mb-20 mt-20 pd-20 bg-f2f2f2">
        <h1>接口页面--全局数据：</h1>
        <p class="mb-20">config-> {{config}} </p>
        <p class="mb-20">frag-> {{frag}} </p>
        <p class="mb-20">bannerSlide-> {{bannerSlide}}</p>
        <p class="mb-20">site-> {{site}} </p>
        <p class="mb-20">111-->{{site.json.siteSubtitle}}</p>
        <p class="mb-20">nav-> {{nav}} </p>
        <p class="mb-20">category-> {{category}}</p>
        <p class="mb-20">friendlink-> {{friendlink}}</p>
        <p class="mb-20">base_url-> {{base_url}}</p>
        <p class="mb-20">tag--->{{tag}}</p>
        <p class="mb-20">slide--->{{slide}}</p>
        <p class="mb-20">topnews--->{{topnews}}</p>
        <p class="mb-20">article--->{{article}}</p>
        <p class="mb-20">imgs--->{{imgs}}</p>
        <p class="mb-20">recommendImgs--->{{recommendImgs}}</p>
        <p class="mb-20">console.log('{{ site.id }}')</p>
    </div>


</body>
{{include './common/js.html'}}
{{block 'script'}}
{{/block}}

</html>