{{extend './layout.html'}}

{{block 'head'}}
<meta name="description" content="{{cate.seo_description || site.description}}">
<meta name="keywords" content="{{cate.seo_keywords || site.keywords}}" />
<meta property="og:title" content="{{cate.seo_title || cate.name}}-{{site.name}}" />
<meta property="og:description" content="{{site.description}}" />
<title>{{article.title || cate.name}}-{{site.name}}</title>
{{/block}}


{{block 'content'}}
<!-- 头条文章 -->
<main class=" pt-10 pb-20 row">

    <div class="main center mt-10 row gap-20">
        <aside class="flex-1">


            <!-- tag标签 -->
            <!-- <section class="notices pd-20 mb-20 bg-main">
                <h3 class="m-title border-dashed f-16 row justify-between">tag标签</h3>
                <p class="mt-10">
                    {{each tag}}
                    <a class="el-tag mr-5 mb-5" href="/tags/{{$value.name}}.html"
                        title="{{$value.name}}">{{$value.name}}</a>
                    {{/each}}
                </p>
            </section> -->
            {{include './common/tag.html'}}

            <!-- 广告 -->
            {{if frag.ad}}
            <section class="ad mb-20 bg-main">
                {{@ frag.ad}}
            </section>
            {{/if}}

            <!-- 单页栏目 -->
            <section class="notices pos-s pd-20 mb-20 bg-main" style="top:80px;z-index: 2;">
                <h3 class="m-title border-dashed f-16 row justify-between bold">{{navSub.cate.name}}</h3>
                {{if data.length>0}}
                <ul class="mt-10">
                    {{each data}}
                    <li class="f-16 pt-4 pb-4 row bold  pl-10">
                        <a href="{{$value.path}}/page-{{$value.id}}.html" title="{{$value.title}}">{{$value.title}}</a>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </section>

        </aside>

        <!-- 最新文章 -->
        <article class="article-index">
            <!-- <div class="bg-main radius-6 pd-15 mb-1 f-14 c-999">
                <i class="ico-20 ico-home pos-r t-3"></i>
                <a class="" href="" >首页</a> /
                <a class="c-666" href="" >nodejs开发</a> /
                express专题
            </div> -->

            <div class="bg-main radius-6 pd-25">
                {{if article?.content}}
                <header class="border-b pos-r">
                    <h2 class="f-26 c-252933  bold mt-10">{{article.title}}</h2>
                    <p class="f-12 c-999 mt-5 mb-26">
                        <span>
                            <i class="ico-20 ico-time pos-r t-4"></i> {{article.updatedAt}}
                            <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> {{article.author}}
                            <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（{{article.pv}}）
                            <!-- <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95） -->
                        </span>
                    </p>
                </header>
                <article id="article" class="article-cont f-17 lh-35">
                    {{@ article.content}}
                </article>
                {{else}}
                <div class="el-empty">
                    <div class="mt-35 mb-35 f-30">
                        <p>亲，您忘了，</p>
                        <p>文章一点无！</p>
                    </div>
                    <div class="el-empty__description">
                        <p>禅悦-语录</p>
                    </div>
                </div>
                {{/if}}
            </div>
        </article>
    </div>
</main>
{{/block}}