{{if nav.length>0}}
<nav class="nav">
    <ul class="row">
        <li class="nav-item"><a href="/" title="首页">首页</a></li>
        {{each nav}}
        {{if $value.status == 0}}
        <li class="nav-item">
            {{if $value.type==0}}
            {{if $value.href}}
            <a href="{{$value.href}}" title="{{$value.name}}">{{$value.name}}</a>
            {{else}}
            <a href="{{$value.path}}/index.html" title="{{$value.name}}">{{$value.name}}</a>
            {{/if}}
            {{else}}
            <a href="{{$value.path}}/page.html" title="{{$value.name}}">{{$value.name}}
            </a>
            {{/if}}
            {{if $value.children && $value.children.length>0}}
            <ul class="sub-nav">
                {{each $value.children}}
                {{if $value.status == 0}}
                <li class="sub-nav-item">
                    {{if $value.type==0}}
                    {{ if $value.href}}
                    <a href="{{$value.href}}" title="{{$value.name}}">{{$value.name}}
                    </a>
                    {{else}}
                    <a href="{{$value.path}}/index.html" title="{{$value.name}}">{{$value.name}}
                    </a>
                    {{/if}}
                    {{else}}
                    <a href="{{$value.path}}/page.html" title="{{$value.name}}">{{$value.name}}
                    </a>
                    {{/if}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/if}}
        {{/each}}
    </ul>
</nav>
{{/if}}


<script>

    (function () {
        console.log(window, 'window')
        function buildUrlsFromArray(fileName = "index.html") {
            let url = location.pathname.split("/");
            let filterUrl = url.filter((item) => item != "" && !item.endsWith(".html"));
            const urls = [];
            for (let i = 0; i < filterUrl.length; i++) {
                let finalPath = "/" + filterUrl.slice(0, i + 1).join("/");
                urls.push(finalPath + "/" + fileName);
            }
            return urls;
        }

        function setActiveNav(paths) {
            paths.forEach(function (path) {
                var element = document.querySelector('.nav > ul a[href="' + path + '"]');
                console.log(element, 'element')
                if (element) {
                    element.parentNode.classList.add("active");
                }
            });
        }

        var url =
            location.pathname == "/"
                ? [...buildUrlsFromArray(), ...buildUrlsFromArray("page.html"), "/"]
                : [...buildUrlsFromArray(), ...buildUrlsFromArray("page.html")];
        console.log(url)
        setActiveNav(url);
    })()

</script>

<style>
    .nav-item>a {
        border-bottom: 2px solid #f9fafb;
    }

    .active {
        background: #88c1fb;
        border-bottom: 2px solid #0d84fa;
        border-radius: 5px;
    }
</style>